<html lang="en">
<head>
    <title>STAT</title>
</head>
<body>
    <div>Total accounts: {{total1}}</div><br>
    <div>Total accounts with mail: {{total2}}</div><br>
    <div>Total accounts with bonus_mail: {{total3}}</div><br>
    <div>Total confirmed bonus mails : {{total4}}</div><br>
    <div>____________________________________________</div><br>
    <div>Started quest: {{quest1}}</div><br>
    <div>Finished quest: {{quest2}}</div><br>
    <div>Mails: {{quest3}}</div><br>
    <a href = "http://185.159.82.99:7070/search_mail"> search mail link </a><br>
    <a href = "http://185.159.82.99:7070/search_id"> search id link </a>
</body>
</html>
